<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sukses Tambah Keluarga</title>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">SI Kependudukan</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Cari Data</a></li>
				<li class="nav-item"><a class="nav-link" href="/penduduk/tambah" action="/penduduk/tambah" method="get">Tambah Penduduk</a></li>
				<li class="nav-item"><a class="nav-link" href="/keluarga/tambah" action="/keluarga/tambah" method="get">Tambah Keluarga</a></li>
			</ul>

		</div>
	</nav>
	<br></br>
	<br></br>
	<h2>Sukses !</h2>
	<h7 th:text="'Penduduk dengan NKK '+ ${keluarga.nomor_kk} + ' berhasil ditambahkan'"  ></h7>
</body>
</html>